body {
  background-color: #d8ffd8;
  font-family: Arial, sans-serif;
  text-align: center; /* 居中整个内容 */
}

.tabs {
  display: flex; /* 使用 flex 布局以确保等宽 */
  justify-content: center;
  margin-top: 50px;
}

.tab-button {
  background-color: #207f4c; /* 主题色 */
  border: none;
  outline: none;
  cursor: pointer;
  flex: 0 0 160px; /* 不允许按钮增长或缩小，宽度设置为80px */
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px; 
  font-weight: bold; 
  border-radius: 0; /* 默认无圆角 */
}

.tab-button:first-child {
  border-radius: 10px 0 0 10px; /* 左侧第一个按钮左侧圆角 */
}

.tab-button:last-child {
  border-radius: 0 10px 10px 0; /* 右侧最后一个按钮右侧圆角 */
}

.tab-button:hover, .tab-button.active {
  background-color: #ddd; /* 激活或悬停状态的颜色 */
  color: black;
}

.tab-content {
  margin-top: 60px;
  display: block;
  padding: 6px 12px;
  border-top: none;
  width: 100%;
  opacity: 0; /* 初始完全透明 */
  transform: translateX(-100%); /* 初始偏移，向左移出视图 */
  transition: opacity 0.3s ease, transform 1s ease;
  position: absolute; /* 初始绝对定位 */
}

.tab-content.active {
  opacity: 1; /* 完全不透明 */
  transform: translateX(0%); /* 无偏移，内容在容器内 */
  position: relative; /* 激活时相对定位 */
}


.download-button {
  /* 样式适用于下载按钮 */
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #207f4c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.download-button:hover {
  background-color: #1a5d38;
}

.platform-button {
  display: block;
  background-color: #d3d3d3; /* 浅灰色背景 */
  color: black;
  padding: 8px 10px;
  margin: 5px 0;
  text-align: left;
  border: none;
  width: 200px; /* 设定宽度为80% */
  max-width: 300px; /* 最大宽度，根据需要调整 */
  box-sizing: border-box; /* 确保边距和内边距包含在宽度内 */
  margin-left: auto; /* 居中对齐 */
  margin-right: auto;
}


.platform-button:hover {
  background-color: #a9a9a9;
}

#platform-buttons {
  max-height: 0; /* 初始最大高度为0 */
  overflow: hidden; /* 隐藏溢出内容 */
  opacity: 0; /* 初始透明度 */
  transform: translateY(-20px); /* 初始向上移动 */
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* 平滑过渡效果 */
}

/* 当平台按钮显示时 */
#platform-buttons.show {
  max-height: 200px; /* 足够容纳内容的最大高度 */
  opacity: 1; /* 完全不透明 */
  transform: translateY(0); /* 恢复到原始位置 */
}


.home-button {
  position: fixed;
  top: 130px;
  right: 10px;
  width: 80px; /* 设置固定宽度 */
  height: 80px; /* 设置固定高度，与宽度相同 */
  line-height: 80px; /* 使文字垂直居中 */
  text-align: center; /* 水平居中文本 */
  background-color: #207f4c;
  color: white;
  border-radius: 50%; /* 圆形按钮 */
  text-decoration: none;
  font-size: 16px;
  z-index: 1000;
}




.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.tab-content-placeholder {
  height: 2900px; /* 调整这个高度以符合 `.tab-content` 的实际高度 */
}


footer {
  background-color: #207f4c; /* 页脚背景色 */
  color: white; /* 页脚文字颜色 */
  text-align: center; /* 文本居中 */
  padding: 20px 0; /* 上下内边距 */
  position: relative; /* 相对定位，可以根据需要改为 'absolute' 或 'fixed' */
  bottom: 0; /* 如果使用 'absolute' 或 'fixed' 定位，将页脚放置在底部 */
  width: 100%; /* 页脚宽度 */
}

.vertical-space {
  height: 50px; /* 控制垂直间距大小 */
}

/* 页脚内的链接样式 */
footer a {
  color: white; /* 链接文字颜色 */
  text-decoration: none; /* 去除下划线 */
}

footer a:hover {
  text-decoration: underline; /* 鼠标悬停时添加下划线 */
}

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.2; /* 调整行间距，1.6是一个常见的选择 */
}

.content-page h2, .content-page h3 {
  width: 100%; /* 确保每个元素宽度为100% */
  text-align: left; /* 文本左对齐 */
  margin-top: 30px; /* 在标题上方添加20px的间隙 */
}

.content-page p {
  width: 100%; /* 段落宽度为100% */
  text-align: left; /* 文本左对齐 */
}

body, html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden; /* 防止水平滚动 */
}

.content, .iframe-container {
  max-width: 100%;
  box-sizing: border-box;
}



#update-log {
  margin-top: 80px; /* 在板块顶部添加更大的空间 */
  margin-bottom: 40px; /* 在板块底部添加更大的空间 */
  text-align: center; /* 整体内容居中 */
}

#update-log h3 {
  font-size: 1.4em; /* 设置标题的大小 */
  margin-bottom: 20px; /* 在标题下方添加更大的空间 */
}

#update-log ul {
  list-style-type: none; /* 移除默认的列表样式 */
  padding: 0;
  display: inline-block; /* 使列表以内联块的方式显示 */
  text-align: left; /* 列表中的文本居左 */
  max-width: 80%; /* 控制最大宽度，根据需要调整 */
}

#update-log li {
  margin-bottom: 10px; /* 在条目之间添加更大的空间 */
  font-size: 1em; /* 设置条目文字大小 */
}



.gallery-container {
  display: flex; /* 设置为flex容器 */
  width: 900px;
  height: 458px;
  background-color: #ffffff00; /* 容器背景颜色 */
  border: 1px solid #dddddd00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto; /* 居中.gallery-container */
  margin-top: 60px;
}

.left-panel {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.image-preview-container {
  flex-grow: 1;
}

.main-image-display {
  height: 360px;
  overflow: hidden; /* 隐藏超出容器的部分 */
  position: relative;
}

.main-image-display img {
  width: 100%; /* 宽度与容器相同 */
  height: 100%; /* 高度与容器相同 */
  object-fit: cover; /* 裁剪图像以完全覆盖容器 */
  
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0; /* 默认不显示 */
  transition: opacity 0.3s;
  font-size: 24px; /* 根据需要调整大小 */
  color: white; /* 根据需要调整颜色 */
  width: 80px;
  height: 400px;
  line-height: 400px; /* 设置行高与元素高度相同，实现垂直居中 */
  text-align: center; /* 文本水平居中 */
}

.left-arrow {
  left: 0%; /* 距离左边5% */
}

.right-arrow {
  right: 0%; /* 距离右边5% */
}

.left-arrow:hover, .right-arrow:hover {
  opacity: 1; /* 悬停时显示 */
}

.image-preview-container {
  background-color: rgba(0, 186, 0, 0); /* 图片预览区背景色 */
  display: flex;
  overflow-x: auto; /* 允许水平滚动 */
  white-space: nowrap; /* 确保所有图片都在一行显示 */
  justify-content: start; /* 从容器开始处对齐图片 */
}

.image-preview-container img {
  width: 128px;
  height: 72px; /* 16:10的宽高比 */
  background-color: rgb(0, 0, 153); /* 图片的占位符背景色 */
  margin-top:10px;
  margin-right: 3px; /* 图片之间的间距 */
  object-fit: cover; /* 如果需要，可以使用这个属性来处理图片的比例 */
  cursor: pointer; /* 显示为可点击的手形图标 */
}

.right-panel {
  width: 31%;
  margin-left: 1%; /* 在左侧面板和右侧面板之间添加2%的间隙 */
  display: flex;
  flex-direction: column;
}

.game-cover img {
  width: 100%;
  height: auto;
  object-fit: cover; /* 确保图片完整显示，可能会被裁剪以适应尺寸 */
}

.game-description {
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8); /* 白色半透明背景 */
  border-radius: 15px; /* 圆角 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微阴影效果 */
  margin-top: 10px; /* 与上方内容的间隔 */
  height: 100%; /* 填满剩余空间 */
}

.game-description span {
  margin-bottom: 8px; /* 在标签下方添加间隔 */
}

.game-description h4 {
  margin-bottom: 10px; /* 在标题下方添加间隔 */
}

.game-cover{
  flex-grow: 0; /* 删除 flex-grow: 1 */
  height: 34%; /* 占据右侧面板的33%高度 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-title {
  font-weight: bold;
  margin-bottom: 5px; /* 在标题和标签之间留出一些空间 */
}

.tag-container {
  margin-bottom: 10px; /* 在不同类别之间留出空间 */
}

.tag {
  display: inline-block;
  background-color: #207f4c; /* 深绿色背景 */
  color: white;
  padding: 5px 10px;
  margin-right: 5px; /* 标签之间的间距 */
  border-radius: 10px; /* 圆角边框 */
  font-size: 12px; /* 较小的字体大小 */
}

.game-cover {
  background-color: rgb(0, 237, 237); /* Placeholder for game cover */
}
