body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .about-content {
    display: flex;
    align-items: center;
  }
  
  .about-image {
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
    float: left;
  }
  
  ul.work-list li {
    width: 100%; /* 确保每个列表项独占一行 */
  }
  
  li {
    width: 100%; /* 确保每个列表项独占一行 */
    border: 6px solid var(--main-color);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 2px var(--main-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer; /* 添加鼠标指针样式，表示可点击 */
  }
  
  li:hover {
    background-color: var(--main-color); /* 鼠标悬停时的深色背景 */
    color: #fff; /* 鼠标悬停时的文字颜色 */
    
  }
  
  .work-item {
    width: 600px; /* 宽度为600像素 */
    display: flex;
    align-items: center;
    margin: 0 auto; /* 水平居中 */
    transition: width 0.3s ease;
    margin-bottom: 20px;
  }

  .work-item:hover {
    width: 800px;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  
  .work-thumbnail img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: border-radius 0.3s ease,width 0.9s ease,height 0.9s ease,margin-left 0.9s ease;
  }

  .work-item:hover img {
    width: 160px;
    height: 160px;
    border-radius: 10%;
    margin-left: 20px;
  }
  
  .work-description {
    flex: 1;
    text-align: center;
  }
  
  .work-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
  
  
  footer {
    background-color:var(--main-color);
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .vertical-space {
    height: 50px; /* 设置高度为 50 像素，你可以根据需要调整高度值 */
  }

  :root {
    --main-color: #207f4c; /* 这里的值可以是任意有效的颜色值，例如 #FF0000 表示红色，#00FF00 表示绿色等 */
  }
