body {
  font-family: Arial, sans-serif;
  text-align: center; /* 居中整个内容 */
}

.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center; /* 居中标签按钮 */
}

.tab-button {
  background-color: #207f4c; /* 主题色 */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button:hover, .tab-button.active {
  background-color: #ddd; /* 激活或悬停状态的颜色 */
  color: black;
}

.tab-content {
  display: block; /* 总是显示，但通过透明度和位置控制可见性 */
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute; /* 绝对定位 */
  width: 100%; /* 宽度占满整个容器 */
  left: 100%; /* 初始在视口右侧外部 */
  opacity: 0; /* 初始完全透明 */
  transform: translateX(0%); /* 初始偏移 */
  transition: opacity 3s ease, transform 3s ease; /* 平滑过渡效果 */
}

.tab-content.active {
  opacity: 1; /* 完全不透明 */
  transform: translateX(-100%); /* 无偏移，内容在容器内 */
}