:root {
  --main-bg-color: #207f4c;
  --text-color: #fff;
  --font-family: Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  transition: height 0.005s ease; /* 平滑过渡效果 */
  width: 100%;
  position: fixed; /* 固定在顶部 */
  top: 0;
  z-index: 1000; /* 确保header在其他内容上方 */
  height: 250px; /* 初始高度 */
}
header.scrolled {
  height: 50px; /* 变窄 */ /* 变窄 */
  /* 可以添加其他样式变化 */
}


  
.header-content {
  display: flex;
  align-items: center;
  justify-content: center; 
}


header.scrolled .profile img {
  width: 45px; /* 缩小尺寸 */
  height: 45px;
}

/* 滚动时其他内容的透明度变化 */
.header-content > *:not(.profile) {
  transition: opacity 0.2s ease;
}

header.scrolled .header-content > *:not(.profile) {
  opacity: 0;
}


main {
  padding: 280px;
}

h2 {
  margin-bottom: 10px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center; /* 添加居中对齐 */
  text-align: left; /* 使文本居中 */
  font-size: 1.4em; /* 增大文字大小 */
  max-width: 1200px; /* 设置一个最大宽度 */
  margin: 0 auto; /* 在父容器中居中 */
}


.faceup-image {
  width: 300px;
  height: 200px;
  margin: 0 40px 0 0;
  float: left;
}

.about-image {
  width: 200px;
  height: 200px;
  margin: 0 20px 20px 0;
  float: left;
}

ul.work-list li {
  width: 100%; /* 确保每个列表项独占一行 */
}

li {
  width: 100%; /* 确保每个列表项独占一行 */
  border: 6px solid var(--main-color);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 2px var(--main-color);
  transition: background-color 0.45s ease, transform 0.45s ease;
  cursor: point er; /* 添加鼠标指针样式，表示可点击 */
}

li:hover {
  background-color: var(--main-color); /* 鼠标悬停时的深色背景 */
  color: #fff; /* 鼠标悬停时的文字颜色 */
  
}

.work-item {
  width: 700px; /* 宽度为600像素 */
  display: flex;
  align-items: center;
  margin: 0 auto; /* 水平居中 */
  transition: width 0.45s ease;
  margin-bottom: 20px;
}

.work-item:hover {
  width: 900px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.work-thumbnail img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: border-radius 0.45s ease,width 0.45s ease,height 0.45s ease,margin-left 0.45s ease;
}

.work-item:hover img {
  width: 160px;
  height: 160px;
  border-radius: 10%;
  margin-left: 20px;
}

.work-description {
  flex: 1;
  text-align: center;
}

.work-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}


footer {
  background-color:var(--main-color);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.vertical-space {
  height: 50px; /* 设置高度为 50 像素，你可以根据需要调整高度值 */
}

  :root {
    --main-color: #207f4c; /* 这里的值可以是任意有效的颜色值，例如 #FF0000 表示红色，#00FF00 表示绿色等 */
  }

  /* 定义头像的样式 */
.profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 80px;
  margin-left: 20px;
  position: absolute;
  
  /* 定义旋转动画 */
  animation-name: rotateAnimation;
  animation-duration: 8s; /* 动画持续时间为4秒 */
  animation-iteration-count: infinite; /* 无限循环动画 */
  transition: width 0.005s ease,height 0.005s ease;
}
.profile:hover image{
  width: 180px;
  height: 180px;
  
}

/* 定义旋转动画关键帧 */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* 初始角度为0度 */
  }
  25% {
    transform: rotate(90deg); 
  }
  50% {
    transform: rotate(180deg); 
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg); /* 最终角度为90度 */
  }
}

.profile {
  display: flex; /* 使用 flexbox 布局 */
  align-items: center; /* 垂直居中头像和欢迎词 */
  flex-grow: 1;
}

.profile p {
  font-style: italic;
  font-size: 1.4rem;
  left:200px;
  margin: 0;
  color: black;
  margin-left: 20px;
  position: absolute;
}

@keyframes sway {
  0%, 100% {
    transform: translateX(-10px); /* 向左移动 */
  }
  50% {
    transform: translateX(10px); /* 向右移动 */
  }
}

.game-instructions {
  animation: sway 2s ease-in-out infinite;
  color: white; /* 文字颜色 */
  justify-content: right;
  text-align: right; /* 文字对齐 */
  display: flex;
  margin-right: 20px; /* 右侧边距 */
  /* 根据需要添加其他样式 */
}


/* 游戏机样式 */
.game-machine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(152, 34, 34);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top:20px;
  margin-left: auto; /* 将游戏机推至header最右端 */
  margin-right: 30px;
  position: relative; /* 设置相对定位，使得重新开始按钮的绝对定位生效 */
  transition: opacity 0.3s ease; /* 渐隐效果 */
  opacity: 1; /* 初始完全可见 */

}
/* 滚动时头像和游戏机的样式 */
header.scrolled .game-machine {
  opacity: 0; /* 游戏机渐隐 */
}

.snake-game-container {
  display: inline-block;
  margin-bottom: 5px;
}

/* 按钮样式 */
.controls {
  display: flex;
  flex-direction: column;
}

.controls div {
  display: flex;
  justify-content: center;
}

.controls button {
  width: 18px;
  height: 18px;
  font-size: 1px;
  margin-left: 15px;
}

.left-right-buttons {
  display: flex;
  justify-content: space-between;
}

.up-down-buttons {
  display: flex;
  justify-content: center;
}

/* 重新开始按钮样式 */
.restart-button {
  position: absolute; /* 设置绝对定位 */
  bottom: 20px; /* 调整按钮距离游戏区域顶部的距离 */
  right: 10px; /* 调整按钮距离游戏区域右侧的距离 */
}

.restart-button button {
  width: 54px;
  height: 20px;
  text-align:left;
  font-size: 5px;
  font-weight: bold;
  text-align: center;
}

/* 添加底板颜色 */
#gameCanvas {
  background-color: black;
}

.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
}
